@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
header {
    height: 750px;
    width: auto;
    background-image: url(../assets/barbearia.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
    padding: 30px;
}
.barra_navegacao {
    display: flex;
    color: white;
    background-color: rgb(0, 0, 0, 0.8);
    align-items: center;
    justify-content:space-around;
    padding: 10px;
    border-radius: 1px;
}
li {
    list-style: none;
}
.logo {
    display: flex;
    align-items: center;
}
.logo_imagem {
    width: 140px;
    border-radius: 100px;
}
.barra_navegacao__itens {
    display: flex;
    gap: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
}
.barra_navegacao__logos {
    display: flex;
    gap: 10px;
}
.logos {
    width: auto;
    height: 35px;
}